* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
nav {
    width: 100%;
    background-color: #3c78e71c;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#searchProperty {
    width: 212px;
    height: 40px;

}
#searchPropertyInput {
    width: 198px;
    height: 40px;
    padding: 0px 7px;
    border: 0px;
    border-radius: 6px;
}
.description {
    text-align: center;
    width: 86%;
    margin: auto;
    background: rgb(232,233,252);
    padding: 4px 8px;
}

h1 {
    font-size: 36px;
    margin: 0.50em 0;
    color: rgb(10,10,10);
   text-align: center;
}
.container {
    /* display: flex; */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0; */
  }
  .property {
    width: 86%;
    padding: 0% 1% 1% 1%;
    left: 7%;
    position: relative;
    box-shadow: 2px 2px 10px rgba(200,200,200,1);
    margin-bottom: 40px;
  }
  .propertyTitle {
    /* font-size: 25px;
    margin: 0.50em 0;
    color: white;
    box-sizing: border-box;
    width: 102%;
    margin-left: -1%;
    padding: 0px 10px;
    background-color:#0fbfcf;
    position: sticky;
    top: 0;
    z-index: 1; */
  }
  .TitleAndTry {
    font-size: 25px;
    margin: 0.50em 0;
    color: white;
    width: 102%;
    margin-left: -1%;
    padding: 0px 10px;
    background-color:#0fbfcf;
      display: flex;
      justify-content: space-between;
  }

  .propertyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .propValue {
      display: flex;
      justify-content: space-around;
  }

  